# Servidor
PORT=8080
FRONTEND_URL=http://localhost:3000

# Autenticación
JWT_SECRET=tu_clave_secreta_aqui

# Base de datos
MONGO_URI=mongodb://mongo:27017/iumaestro

# Redis
REDIS_URL=redis://canal:contraseña@canal-redis:puerto
CANAL_MOTORSIMULACION=MotorSimulacionService/simulacion.cargadores/estado
CANAL_VEHICULOS=vehículos/eventos
CANAL_NOTIFICACIONES=notifications-service/eventos
CANAL_IUMAESTRO=iumaestro:favoritos

# URLs de microservicios externos
CONDUCTOR_URL=http://conductor-service:puerto
VEHICULOS_URL=http://vehiculos-service:puerto
ZONAS_URL=http://zonas-service:puerto
POSTES_URL=http://postes-service:puerto
RESERVAS_URL=http://reservas-service:puerto
CARGAS_URL=http://cargas-service:puerto
HISTORICO_URL=http://historico-service:puerto
NOTIFICACIONES_URL=http://notificaciones-service:puerto
CUENTAS_URL=http://cuentas-service:puerto
LOG_VEHICULOS_URL=http://log-vehiculos-service:puerto

# Activar mocks (true = usa datos simulados en lugar del servicio real)
USE_MOCK_CONDUCTOR=false
USE_MOCK_VEHICULOS=false
USE_MOCK_ZONAS=false
USE_MOCK_POSTES=false
USE_MOCK_RESERVAS=false
USE_MOCK_CARGAS=false
USE_MOCK_HISTORICO=false
USE_MOCK_NOTIFICACIONES=false
USE_MOCK_CUENTAS=false
USE_MOCK_LOG_VEHICULOS=false